---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  trailing-spaces:
    level: warning
  document-start:
    level: warning
  truthy:
    level: warning
  comments:
    min-spaces-from-content: 1
